
.deleteModal{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(10,10,10,0.8);
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
    z-index: 1055;
}
.modal{
    background-color: rgba(10,10,10,0.8);
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
 
}
.show{
    display: flex !important;
}
.modal-container,.deleteModalContainer{
    border-radius: 10px;
    width:50%;
    height: 60%;
    background-color:rgba(244,244,244);
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:1em;
}
.bor{
    margin-left: 5px;
}
.updateAjax,.cancelModal{
   margin-top:1em;

   font-size:1.1em;
}
.cancelModal{
    padding:7px 13px;
}
.btn-success.update{
    margin-right: 0.5em;
   
}
#add,#cancel,#server{
    margin-bottom:0.5em;
}
.modal-form > .input-group{
    margin: 0.5em auto;
    
    width:85%;
}
.modal-form{
    text-align: center;
}
.error{
    border-color:red;
}
.col-md-offset-1{
    margin-left: 9.33333%;
}

.form-heading { color:#fff; font-size:23px;}
.panel h2{ color:#444444; font-size:18px; margin:0 0 8px 0;}
.panel p { color:#777777; font-size:14px; margin-bottom:30px; line-height:24px;}
.login-form .form-control {
  background: #f7f7f7 none repeat scroll 0 0;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
}
.main-div {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 5px;
  margin: 10px auto 30px;
  max-width: 30%;
  padding: 50px 70px 70px 71px;
  position: relative;
}

.login-form .form-group {
  margin-bottom:10px;
  text-align: left
}
.login-form{ text-align:center;}

.forgot a {
  color: #777777;
  font-size: 14px;
  text-decoration: underline;
}
.login-form  .btn.btn-primary {
  background: #3cb094 none repeat scroll 0 0;
  border-color: #3cb094;
  color: #ffffff;
  font-size: 14px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0;
}
.forgot {
  text-align: left; margin-bottom:30px;
}
.botto-text {
  color: #ffffff;
  font-size: 14px;
  margin: auto;
}
.login-form .btn.btn-primary.reset {
  background: #3cb094 none repeat scroll 0 0;
}
.back { text-align: left; margin-top:10px;}
.back a {color: #444444; font-size: 13px;text-decoration: none;}
.loginModal,.signup-form{
	position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
   
	z-index: 10;
	display: flex;
    flex-direction: column;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.9);/* Chrome 10+, Saf5.1+ */
 

}
.cancel{
	position: absolute;
	top: 3px;
    right: 2px;
}
.cancel button{
	border-radius: 50%;
    border: 1px solid #FFF;
    background-color: #FFF;
}
.cancel i{
	font-size: 1.8em;
	color:#3cb094;
}
.hide{
	display:none;
}



.signup-form form {
	color: #9ba5a8;
	border-radius: 3px;
	margin-bottom: 15px;
	background: #fff;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 2em;
	width:25%;
	height: 85%;
	margin: auto;
}
.signup-form h2 {
	color: #333;
	font-weight: bold;
	margin-top: 0;
}
.signup-form hr {
	margin: 0 -30px 20px;
}    
.signup-form .form-group {
	margin-bottom: 20px;
}
.signup-form label {
	font-weight: normal;
	font-size: 13px;
}
.signup-form .btn {        
	font-size: 16px;
	font-weight: bold;
	background: #49c1a2;
	border: none;
	min-width: 140px;
}
.signup-form .btn:hover, .signup-form .btn:focus {
	background: #3cb094;
	outline: none !important;
}
.signup-form a {
	color: #fff;
	text-decoration: underline;
}
.signup-form a:hover {
	text-decoration: none;
}
.signup-form form a {
	color: #49c1a2;
	text-decoration: none;
}	
.signup-form form a:hover {
	text-decoration: underline;
}
.form-control {		
	min-height: 41px;
	box-shadow: none;
	border-color: #e1e4e5;
}
.form-control:focus {
	border-color: #49c1a2;
}
.form-control, .btn {        
	border-radius: 3px;
}
.form-container{
	position: relative;
}
.cancelSignUp{
	position: absolute;
	top: 3px;
    right: 10px;
}

.cancelSignUp i {
	font-size: 2em;
	color:#3cb094;

}
.loginRedirect{
	color:#3cb094;
	text-decoration: underline;
	cursor: pointer;
}
.loginRedirect:hover{
	text-decoration: none;
}
.Error{
	color:rgba(207, 38, 32, 1);
	font-weight: 700;
}
@media only screen and (max-width: 1000px) {
    .modal-form > .input-group{
       
        width:90%;
    }
    .modal-form{
        text-align: center;
    }
    .modal-container{
       
        width:70%;
        height: 65%;
      
    }
    
    .col-xs-offset-3{
        margin-left:45.3333%;
    }
    .userBtn{
        font-size:0.45em !important;
          
      }

}
@media only screen and (max-width: 700px) {
    .modal-form > .input-group{
       
        width:90%;
    }
    .modal-form{
        text-align: center;
    }
    .modal-container{
       
        width:85%;
        height: 60%;
      
    }
    .col-xs-offset-3{
        margin-left:35.3333%;
    }
    .userBtn{
        font-size:0.4em !important;
        padding:4px 10px !important;  
      }

}
@media only screen and (max-width: 590px) {
    .btn-success.update{
        margin-bottom: 0.5em;
        font-size: 0.85em;
       
    }
    .btn-danger.delete{
        padding: 6px 14px;
        font-size:0.85em;
        margin-bottom: 0.5em;
    }
    .table{
        margin-left: -0.7em;
        font-size: 0.793em;
    }
    .container{
        padding:0px;
    }
    .col-xs-offset-3{
        margin-left:20%
    }

}
@media only screen and (max-width: 469px) {
    .col-xs-offset-3{
        margin-left:5%;
    }
}
@media only screen and (max-width: 385px) {
    .col-xs-offset-3{
        margin-left:25.3333%;
        
        }
    .userBtn{
        margin-top:1em;
        margin-bottom:1em;
    }    
    
}
